.activity {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-bottom: 94px;

  &__title {
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    margin-left: -30px;
  }
  &__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }

  &__link {
    position: relative;
    display: block;
  }
  &__overlay {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
  }
  &__text {
    color: var(--primary-white-color--);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
