.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: #2f303a;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  & .container {
    text-align: center;
  }

  &__title {
    margin-bottom: var(--typical-margin--);
    margin-right: auto;
    margin-left: auto;

    color: var(--primary-white-color--);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    display: inline-block;
    padding: 10px 32px;
    margin-right: auto;
    margin-left: auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: rgb(24, 140, 232);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}

.overlay {
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
  }
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
