body {
  color: #757757;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol,
p {
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
